# ==> Put this file in /etc/udev/rules.d/99-wacom.rules
#
# cf: https://doc.ubuntu-fr.org/udev
# cf: /lib/udev/rules.d/65-libwacom.rules


ACTION=="add", DRIVERS=="usb", ATTR{idVendor}=="056a", ATTR{idProduct}=="00b9", RUN+="/usr/local/lib/intuos4oled/init.sh 0xb9"

ACTION=="add", DRIVERS=="usb", ATTR{idVendor}=="056a", ATTR{idProduct}=="00ba", RUN+="/usr/local/lib/intuos4oled/init.sh 0xba"

ACTION=="add", DRIVERS=="usb", ATTR{idVendor}=="056a", ATTR{idProduct}=="00bb", RUN+="/usr/local/lib/intuos4oled/init.sh 0xbb"

ACTION=="add", DRIVERS=="usb", ATTR{idVendor}=="056a", ATTR{idProduct}=="00bc", RUN+="/usr/local/lib/intuos4oled/init.sh 0xbc"
